<h1>Blog List</h1>

{% for post in posts %}    <!--posts 객체 : 클래스 뷰에서 넘겨주는 컨텍스트 변수-->
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </h2>
    <!--위 아래는 동일한 문장이다.-->
    <!--<h2><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a> </h2>-->
    {{ post.modify_date|date:"m d, Y" }}
    <p>{{ post.decription }}</p>

{% endfor %}

<br/>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
        {% endif %}
    </span>
</div>