{% extends 'blog/layout.html' %}
{% block title %}
<title>게시글 모아보기</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>LCW의 블로그</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info">
                <li>공지사항</li>
            </div>
            <a href="{% url "blog:post_new" %}" class="btn btn-primary pull-right">New Post</a>
            <form action="" method="get">
                <input type="text" name="q" value="{{q}}"/>
                <input type="submit" value="검색" class="btn btn-primary"/>
            </form>
            <table class="table table-hover table-bordered">
                <thead>
                    <th>ID</th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>updated_at</th>
                </thead>
                <tbody>
                    {% for post in post_list %}
                    <tr>
                        <td>{{post.id}}</td>
                        <td><a href="{% url "blog:post_detail" post.id %}"> {{ post.title }} </a></td>
                        <td>by {{ post.author }}</td>
                        <td>at {{ post.updated_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

