{% extends 'blog/layout.html' %}
{% load imagekit %}
{% block title %}
    게시글 상세보기
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> 게시글 상세보기 </h1>
                <h2>{{ post.title }}</h2>

                {% if post.photo %}
                    {# 원본 이미지 #}
                    {# <img src="{{ post.photo.url }}" style="max-width: 100%;"/> #}

                    {# 템플릿에서 직접 이미지 썸네일 처리하기 #}

                    {# 1. 기본 형태 #}
                    {% thumbnail "200x200" post.photo %}

                    {# 2. 썸네일을 인스턴스화 시켜 커스터마이징하기 #}
                    {# thumbnail "100x100" post.photo as thumb #}
                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />

                    {# 3. 썸네일에 추가 속성 정의하기 #}
                    {# thumbnail "100x100" post.photo -- style="" onclick="" #}
                {% endif %}

                {{ post.content|linebreaks }}

                <hr/>

                <h3>Comments</h3>
                <ul>
                {% for comment in post.comment_set.all %}
                    <li>
                        {{ comment.message }}
                        <small>by {{ comment.author }}</small>
                        <small>at {{ comment.updated_at }}</small>
                    </li>
                {% endfor %}
                </ul>
                <hr/>
                <a href="{% url "blog:post_list" %}" class="btn btn-primary"> 글 목록 </a>
                <a href="{% url "blog:post_edit" post.id %}" class="btn btn-default"> 수정 </a>
            </div>
        </div>
    </div>

{% endblock %}
